/* 1440 */

/* container */
.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    background: #311500;
    padding: 18px 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 60px;
    height: 60px;
}

.header_logo_a {
    width: 100%;
    height: 100%;
}

.header_section_nav_ul {
    display: flex;
    column-gap: 36px;
}

.header_section_nav_a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.active {
    color: #C46A2B;

}

.header_button {
    background: #C46A2B;
    width: 100px;
    height: 48px;
    border-radius: 32px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    color: #DEE2EB;
}


.header_burger {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background: #C46A2B;
    display: none;
    padding: 15px;
}

.header_burger_img {
    width: 100%;
    height: 100%;
}

/* section 1 */
.section_1 {
    height: 640px;
    display: flex;
    justify-content: center;
    background-image: url(../image/cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 120px;
}

.section_1_div {
    display: flex;
    column-gap: 32px;
}

.section_1_h2 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    color: #FFFFFF;
}

.section_1_icone {
    width: 56px;
    height: 56px;
    display: block;
}

.section_1_arrow {
    width: 100%;
    height: 100%;
}

/* section 2 */
.section_2 {
    background: #DEE2EB;
    padding: 94px;
}

h3 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    margin-bottom: 56px;
    color: #311500;
}

.section_2_section {
    display: flex;
    column-gap: 20px;
    width: calc(1252px / 1440 * 100%);
}

.section_2_article {
    margin: auto;
    background: #311500;
    width: calc(298px / 1440 * 100%);
    padding: 8px 8px 0px 8px;
}

.section_2_img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.section_2_article_div {
    padding-block: 16px;
}

.section2_h4 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    color: #C46A2B;
    padding-bottom: 14px;
}

.section_2_article_p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #DEE2EB;
}

.section_2_div_shop {
    display: flex;
    justify-content: space-between;
}

.section_2_button {
    width: 27px;
    height: 27px;
    padding: 6px 6px 6px 6px;
    border-radius: 8px;
    border: 1px;
    background: #C46A2B;
    border: 1px solid #DEE2EB
}

.section_2_button_img {
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    display: flex;
    background: #311500;
    justify-content: center;
    padding-block: 94px;
}

.footer_section {
    display: flex;
    flex: 1 1 32, 2%;
    column-gap: 80px;
}

.footer_h4 {
    font-family: Inter;
    display: flex;
    justify-content: center;
    color: #C46A2B;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.footer_nav1 {
    width: 80px;
}

.footer_nav2 {
    width: 80px;
}

.footer_nav3 {
    width: 107px;
}

.footer_nav_ul_li {
    display: flex;
    justify-content: center;
}

.footer_nav_text {

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF;
}